* {
    font-size: 62.5%;
}
div,
ul {
  display: flex;
}
ul {
  justify-content: space-evenly;
  list-style-type: none;
}
li {
  margin: 0 1rem;
  font-size: 5rem;
}
a {
  text-decoration: none;
  color: blue;
}
