.div1, .div2, .div3, .div4 {
    width: 200px;
    height: 200px;
}
.div1 {
    background-color: blue;
}
.div2 {
    background-color: black;
}
.div3 {
    background-color: red;
}
.div4 {
    background-color: green;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}