* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #131c27;
  --color1: #4c6e97;
  --color2: #ffffff;
}
html {
  font-size: 62.5%;
}
body {
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* Begin nav */
.navbar {
  width: 100vw;
  background-color: var(--color);
  font-weight: bold;
  position: fixed;
  top: 0;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
}
li a {
  text-decoration: none;
  color: var(--color3);
  padding-right: 7.5em;
  position: relative;
  font-size: 2rem;
}
li:first-child {
  margin-right: auto;
  margin-left: 3em;
  font-family: "Pattaya", sans-serif;
}
.header {
  text-align: center;
  width: 100%;
  padding-top: 3em;
  font-weight: bold;
  font-size: 6rem;
}
.p {
  text-align: center;
  width: 100%;
  padding-top: 2em;
  font-weight: bold;
  font-size: x-large;
}
.landing_page {
  background-image: url(/opdracht_9/img/landing-page.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
}
.btn1 {
  padding: 2rem 6rem;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: var(--color1);
  border: none;
  color: var(--color2);
}
.btn {
  text-align: center;
}
.new_york {
  background-image: url(/opdracht_9/img/new-york-page.png);
  background-size: contain;
  background-color: gray;
  color: white;
  height: 100vh;
  padding-left: 2rem;
}
.ny_header {
  font-weight: bold;
  color: var(--color2);

  padding-top: 2em;
}
.ny_h2 {
  border-bottom: solid 1rem;
  width: 40%;
  font-size: 5rem;
}
.ny_text {
  padding-top: 2em;
  color: var(--color2);
  font-size: 2.5rem;
}

.section {
  height: 30vh;
  background-color: var(--color);
}
.header_3,
.text_3 {
  text-align: center;
  padding: 1rem 35rem 0 35rem;
}
.header_3 {
  font-size: 4rem;
  padding-top: 2rem;
  font-weight: bold;
}
.text_3 {
  font-size: 3rem;
}
.section1 {
  height: 70vh;
  display: flex;
}
.section3 {
  width: 20vw;
  height: 10vh;
  background-color: var(--color);
  margin: 6em 6em 0 6em;
  color: var(--color2);
  text-align: center;
}
.text1 {
  width: 20vw;
  height: 40vh;
  margin: 0 6em 6em 6em;
  background-color: white;
  color: var(--color);
  text-align: center;
}
.text1,
.section3 {
  box-shadow: gray 0 0 1rem;
}
.route {
  padding-top: 1em;
  width: 5rem;
  height: 5rem;
}
.header_travel {
  font-size: 3rem;
  padding-top: 2rem;
}
.text_travel {
  font-size: 2rem;
  padding: 4rem 1rem 0 1rem;
}
.all {
  display: flex;
  justify-content: space-around;
  height: 70vh;
}
.last {
  background-image: url(/opdracht_9/img/contact-mountain.png);
  background-size: cover;
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 {
  width: 40vw;
  height: 35vh;
  border: solid;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background: rgba(19, 28, 39, 0.5);
  text-align: center;
  border-width: 0;
}
footer {
  background-color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  height: 10vh;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  padding-right: 2rem;
}
.footer {
  padding-left: 2rem;
}
.btn3 {
  width: 100%;
  margin-top: 3.5em;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  height: 4rem;
  background-color: var(--color1);
  border-width: 0;
}
.input {
  font-size: 2rem;
}
.name,
.email {
  margin-top: 5rem;
}
@media screen and (max-width: 932px) {
  html {
    font-size: 62.5%;
  }
  .navbar {
    width: 100vw;
    background-color: var(--color);
    font-weight: bold;
    position: fixed;
    top: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 0;
  }
  li a {
    text-decoration: none;
    color: var(--color3);
    padding-right: 7.5rem;
    position: relative;
    font-size: 2rem;
  }
  li:first-child {
    margin-right: auto;
    margin-left: 3rem;
    font-family: "Pattaya", sans-serif;
  }
  .landing_page {
    background-image: url(/opdracht_9/img/landing-page.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
  }
  .header {
    font-size: 2rem;
  }
}
