* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  position: relative;
  min-height: 100vh;
  
}

.left {
  float: left;
}
.right {
float: right;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

html {
  background-color: black
}

footer { 
  background-color: #00a8c7;
  min-height:50px;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}

h1 {
  font-family: "Goldman", cursive;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

p {
  font-family: "Goldman", cursive;
  color: #FFFFFF;
}

section { 
  width: 50vw;
  height: 20vh;
}

header{ 
  min-height:50px; 
}




