* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* Je body heeft een height van minimaal 100vh en position is relative */
body {
  font-family: "Goldman", cursive;
  min-height: 100vh;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

html {
  background-color: black;
}

img {
  color: #ffffff;
}

/* Je h1, h2 en p hadden dezelfde code, zet deze dan achter elkaar,
dat scheelt een hoop dubbele code. 
Daarnaast had je alle sections in 1 section gebundeld maar dit is onnodig,
dit zorgt ervoor dat je footer niet naar beneden ging.

*/

h1, h2, p {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

section h2 {
  font-size: 4rem;
}
section {
  width: 50vw;
  height: 20vh;
}

.header_1 {
  height: 100vh;
  background-image: url("./img/Hacker achtergrond.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 170px;
  font-size: 3.5rem;
}


/* Ha sem,

Ik heb al je dubbele css classes verwijderd. Je had namelijk
flexbox-1 2 etc, maar in elke class stond exact dezelfde code
Maak daar dan 1 class van en hergebruik deze in je html.

*/

.header_2{
  width: 100vw;
  
}
.text_1, .text_2{
  
  width: 50vw;
  text-align: left;
  margin: 40px;
}
.full_1{
  
  display: flex;
  width: 100vw;
  height: auto;
}
.full_2{
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: auto;
  
}
.img_1{
  
  padding-right: 10vw;
  padding-left: 10vw;
}
.section_1{
  height: 100vh;
}
p{
  font-size: 30px;
}
.php {
  margin-top: 40px;
}


/* footer position absoluut, een width en hoeft geen hoogte omdat je hier een padding toevoegd
zo komt de tekst in het midden te staan. */

footer {
  background-color: #00a8c7;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  margin-top: 3rem;
}
